*{
  padding: 0px;
  margin: 0px;
}
.body .item:hover{
  color: darkgray;
}
.sub-link:hover{
  color: rgb(206, 11, 11);
  background-color: transparent;
}
.main{
  width: 100%;
  height: 100vh;
  background-image: url(./images/footer_bg_img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.sub-main{
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.781);
  padding: 0 15%;
}
@media (max-width:600px) {
  .sub-main{
    padding: 0 3%;
  }
  .inputname{
    font-size: 15px;
  }
  ul{
    list-style: none;
    font-size: 15px;
  }
}
@media (min-width:600px) {
  ul li{
    list-style: none;
    font-size: 18px;
  }
}
input, .inputbutton{
  height: 37px;
}
.inputbutton{
  background-color: brown;
}
ul li h6{
  font-size: 18px;
}
ul .link-item:hover{
  color: rgb(206, 11, 11);
  cursor: pointer;
}
.icons:hover{
  cursor: pointer;
}

.landing-main{
  height: 100vh;
  width: 100%;
  background-image: url(./images/landing_pg_bg2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* color: rgb(5, 5, 82); */
}
.view_more{
  height: 75px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  background: none;
  font-size: larger;
  font-weight: 500;
  letter-spacing: 6px;
  box-shadow: 0px 5px 8px 0px rgb(240, 239, 239);
}
.view_more a{
  color: black;
  text-decoration: none;
}
.view_more:hover a{
  color: white;
}
.view_more:hover{
  transition: .3s;
  background-color: rgb(5, 5, 82);
}
.image1{
  height: 350px;
  background-image: url(./images/landing_pg_pic_1.avif);
  background-size: cover;
  background-position: center;
}
.image2{
  height: 350px;
  background-image: url(./images/landing_pg_pic_2.avif);
  background-size: cover;
  background-position: center;
}
.image3{
  height: 350px;
  background-image: url(./images/landing_pg_pic_3.avif);
  background-size: cover;
  background-position: center;
}
.image4{
  height: 350px;
  background-image: url(./images/landing_pg_pic_4.avif);
  background-size: cover;
  background-position: center;
}
.image5{
  height: 716px;
  background-image: url(./images/landing_pg_pic_5.avif);
  background-size: cover;
  background-position: center;
}
.name5{
  height: 716px;
}
@media (max-width:600px) {
  .image5{
    height: 350px;
  } 
  .name5{
    height: 350px;
  }
}
.name{
  height: 350px;
}
.image:hover .name{
  cursor: pointer;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.733);
}
.image:hover .name5{
  cursor: pointer;
  transition: .3s;
  background-color: rgba(0, 0, 0, 0.733);
}
.image h6{
  display: none;
}
.image:hover h6{
  display: block;
}
.no-arrow .accordion-button::after {
  display: none;
}


/* heritage  page */
.heritage-main{
  height: 100vh;
  width: 100%;
  background-image: url(./images/heritage_pg_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@keyframes zoom {
  from{
    opacity: 0;
  }
  to{
    opacity: 5;
  }
}
.heritage-boxes{
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://www.researchgate.net/publication/375109136/figure/fig1/AS:11431281202244092@1698766428359/A-timeline-illustrating-key-milestones-in-the-development-of-generative-AI-from-Turing.png');
}
@media (min-width:600px) {
  .heritage-boxes{
    margin: 10% 0;
    background-position: center;
  }
}
@media (max-width:600px) {
  .heritage-boxes{
    margin: 10% 0;
    background: none;
  }
}

/* collection page */
.collection-main{
  height: 100vh;
  width: 100%;
  background-image: url(./images/collection_pg_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.collection-part{
  /* height: 35vh; */
  width: 100%;
  background-image: url(./images/collection_part_bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}
.collection-part1{
  width: 100%;
  /* height: 35vh; */
  background-color: rgba(255, 255, 255, 0.829);
}

/* shop-now page */
.shop-main{
  height: 100vh;
  width: 100%;
  background-image: url(./images/shop_now_bg3.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.shop li{
  list-style: disc;
  margin-left: 1%;
  font-weight: 700;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media (max-width:600px) {
  .shop li{
    font-size: 20px;
   
  }
}
.shop{
  margin: 4% 0;
}
.shop a{
  text-decoration: none;
  color: brown;
}
.shop a:hover{
  text-decoration: underline;
}


.look1{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/collection_img_1.jpg);
}
.look2{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/collection_img_2.jpg);
}
.look3{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/collection_img_3.jpg);
}
.look4{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/collection_img_4.jpg);
}
.look5{
  height: 350px;
  background-size: cover;
  background-position: center;
  background-image: url(./images/collection_img_5.jpg);
}
.look-name{
  height: 350px;
  align-items: end;
}
.look:hover .look-name{
  cursor: pointer;
  transition: .3s;
  animation: move;
  background-color: rgba(0, 0, 0, 0.349);
}
/* .bottom-color{
  display: none;
} */
.look:hover .bottom-color{
  display: inline-block;
}